<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

		<bean id="addId" class="in.at.beans.Address">
		   <property name="homeNo" value="123"/>
		   <property name="city" value="Sangola"/>
		   <property name="pinCode" value="123"/>
		</bean> 
		
		<bean id="std" class="in.at.beans.Student">
		  <property name="name" value="aJIT"/>
		  <property name="rollNo" value="13"/>
		  <property name="add" ref="addId"/>
		  
		</bean>
</beans>
